
*.toc
*.pkg
*.spec
build/
backup/
dist/
__pycache__/
telegram.py
bot.py
telegram.ini
__notes.txt
keysettings.ini
photo.bin
photo.txt
photo2.bin
photo2.txt
test.py
config.ini
settings.ini
test.txt
testsleep.py
/secret
secret/secret.ini
/classtype
/classtype_backup
/theinterception
action.py
*.pyc
/theinterception/__pycache__
theinterception/__pycache__/__init__.cpython-312.pyc
theinterception/__pycache__/_consts.cpython-312.pyc
theinterception/__pycache__/_keycodes.cpython-312.pyc
theinterception/__pycache__/_utils.cpython-312.pyc
theinterception/__pycache__/device.cpython-312.pyc
theinterception/__pycache__/exceptions.cpython-312.pyc
theinterception/__pycache__/inputs.cpython-312.pyc
theinterception/__pycache__/interception.cpython-312.pyc
theinterception/__pycache__/strokes.cpython-312.pyc
*.pyc
*.pyc
*.pyc
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Bumblebee/FileContentIndex/75c6e624-415e-4314-b98e-cb18fe4be438.vsidx
.vs/Bumblebee/v17/DocumentLayout.json
.vs/Bumblebee/v17/.wsuo
.vs/VSWorkspaceState.json
.idea/modules.xml
.idea/misc.xml
.idea/misc.xml
gdi_capture/__pycache__/__init__.cpython-312.pyc
gdi_capture/__pycache__/gdi_capture.cpython-312.pyc
theinterception/__pycache__/__init__.cpython-312.pyc
theinterception/__pycache__/_consts.cpython-312.pyc
theinterception/__pycache__/_keycodes.cpython-312.pyc
theinterception/__pycache__/_utils.cpython-312.pyc
theinterception/__pycache__/device.cpython-312.pyc
theinterception/__pycache__/exceptions.cpython-312.pyc
theinterception/__pycache__/inputs.cpython-312.pyc
theinterception/__pycache__/interception.cpython-312.pyc
theinterception/__pycache__/strokes.cpython-312.pyc
theinterception/__pycache__/types.cpython-312.pyc
